## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. # use .. or / to go "up" 
city_data_df = pd.read_csv("..\Weather_Database\WeatherPy_Database.csv")
city_data_df.head()

,Index,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description,Date
0,0,Guerrero Negro,27.9769,-114.0611,51.03,41,0,2.46,MX,clear sky,2022-02-04 14:30:49
1,1,Albany,42.6001,-73.9662,28.27,86,100,3.00,US,light snow,2022-02-04 14:35:04
2,2,Carnot,4.9409,15.8665,94.73,12,100,5.91,CF,overcast clouds,2022-02-04 14:35:25
3,3,Kisangani,0.5167,25.2000,82.76,69,75,4.61,CD,broken clouds,2022-02-04 14:35:26
4,4,Umkomaas,-30.2067,30.7978,72.68,87,100,17.11,ZA,light rain,2022-02-04 14:35:26

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the lowest temperature you would like for your vacation?"))
max_temp = float(input("What is the highest temperature you would like for your vacation?"))

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
raw_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
raw_cities_df.head(10)

,Index,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description,Date
3,3,Kisangani,0.5167,25.2000,82.76,69,75,4.61,CD,broken clouds,2022-02-04 14:35:26
9,9,Rikitea,-23.1203,-134.9692,77.77,73,100,12.08,PF,overcast clouds,2022-02-04 14:35:28
12,12,Meulaboh,4.1363,96.1285,78.60,83,100,3.69,ID,overcast clouds,2022-02-04 14:35:29
26,26,Sao Filipe,14.8961,-24.4956,75.65,65,0,8.70,CV,clear sky,2022-02-04 14:39:29
27,27,Saint-Philippe,-21.3585,55.7679,81.99,87,100,27.98,RE,moderate rain,2022-02-04 14:39:29
30,30,Hambantota,6.1241,81.1185,80.94,89,20,2.30,LK,few clouds,2022-02-04 14:39:11
35,35,Busselton,-33.6500,115.3333,76.08,75,0,7.40,AU,clear sky,2022-02-04 14:38:44
36,36,Hermanus,-34.4187,19.2345,77.90,52,7,24.09,ZA,clear sky,2022-02-04 14:39:31
40,40,Alto Araguaia,-17.3147,-53.2153,81.54,67,81,6.62,BR,light rain,2022-02-04 14:39:32
41,41,Vaini,-21.2000,-175.2000,75.36,100,100,6.91,TO,light rain,2022-02-04 14:37:38

In [5]:
# 4a. Determine if there are any empty rows.
raw_cities_df.count()

Index                  185
City                   185
Lat                    185
Lng                    185
Max Temp               185
Humidity               185
Cloudiness             185
Wind Speed             185
Country                180
Current Description    185
Date                   185
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = raw_cities_df.dropna()
clean_df.head()

,Index,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description,Date
3,3,Kisangani,0.5167,25.2000,82.76,69,75,4.61,CD,broken clouds,2022-02-04 14:35:26
9,9,Rikitea,-23.1203,-134.9692,77.77,73,100,12.08,PF,overcast clouds,2022-02-04 14:35:28
12,12,Meulaboh,4.1363,96.1285,78.60,83,100,3.69,ID,overcast clouds,2022-02-04 14:35:29
26,26,Sao Filipe,14.8961,-24.4956,75.65,65,0,8.70,CV,clear sky,2022-02-04 14:39:29
27,27,Saint-Philippe,-21.3585,55.7679,81.99,87,100,27.98,RE,moderate rain,2022-02-04 14:39:29

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
clean_hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
clean_hotel_df["Hotel Name"] = ""
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Kisangani,CD,82.76,broken clouds,0.5167,25.2000,
9,Rikitea,PF,77.77,overcast clouds,-23.1203,-134.9692,
12,Meulaboh,ID,78.60,overcast clouds,4.1363,96.1285,
26,Sao Filipe,CV,75.65,clear sky,14.8961,-24.4956,
27,Saint-Philippe,RE,81.99,moderate rain,-21.3585,55.7679,
30,Hambantota,LK,80.94,few clouds,6.1241,81.1185,
35,Busselton,AU,76.08,clear sky,-33.6500,115.3333,
36,Hermanus,ZA,77.90,clear sky,-34.4187,19.2345,
40,Alto Araguaia,BR,81.54,light rain,-17.3147,-53.2153,
41,Vaini,TO,75.36,light rain,-21.2000,-175.2000,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
    "location": ""
}

# 6b. Iterate through the hotel DataFrame.
for index, row in clean_hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        clean_hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print("Hotel Found Called ", hotels["results"][0]["name"])
    except (IndexError):
        print("Hotel not found... skipping")
    
clean_hotel_df.head()

Hotel Found Called  Grand Ramela Hotel
Hotel Found Called  People ThankYou
Hotel Found Called  Kost Pria
Hotel Found Called  Hotel Xaguate
Hotel Found Called  Chambres d'hôte "La Trinité"
Hotel Found Called  Bungalow 63
Hotel Found Called  Observatory Guest House
Hotel Found Called  Misty Waves Boutique Hotel
Hotel Found Called  Araguaia Palace Hotel
Hotel Found Called  Keleti Beach Resort
Hotel Found Called  Rouba Residency
Hotel Found Called  Finch Bay Galapagos Hotel
Hotel Found Called  Shandrani Beachcomber Resort & Spa
Hotel Found Called  Lorengau Harbourside Hotel
Hotel Found Called  Nopphakoe Homestay
Hotel Found Called  Pousada Porto Praia
Hotel Found Called  Hospitality Carnarvon
Hotel Found Called  Bora-Bora Pearl Beach Resort & Spa
Hotel Found Called  Paradise Inn
Hotel Found Called  Villa Enata
Hotel Found Called  Nusa Island Retreat
Hotel Found Called  Tanna Lodge
Hotel Found Called  Cititel Penang
Hotel Found Called  Hotel Castelo
Hotel Found Called  Isles Sunset Lodge
Hotel Found Called  Leuaina Beach Resort and Spa
Hotel Found Called  Hotel Delta
Hotel Found Called  Nuevo Hotel Plaza
Hotel Found Called  Jebinrio home
Hotel Found Called  SanBiz Lodge
Hotel Found Called  Hotel Vision
Hotel Found Called  Shanti Maurice Resort & Spa
Hotel Found Called  Nuli Sapi
Hotel Found Called  El Medina
Hotel Found Called  ASTON Palembang Hotel & Conference Center
Hotel Found Called  Screensaver
Hotel Found Called  Hotel Chik Chik Namibe
Hotel not found... skipping
Hotel Found Called  Mercure Padang
Hotel Found Called  Hotel Juba
Hotel Found Called  OYO 884 Rumoh PMI Hotel
Hotel Found Called  Maruthi Prasanna
Hotel Found Called  Welcombe Hotel
Hotel Found Called  Scoop Guest House
Hotel not found... skipping
Hotel Found Called  Ballistic Islet
Hotel Found Called  Hotel Grand Continental Kuala Terengganu (4 Star)
Hotel Found Called  InterContinental Riyadh, an IHG Hotel
Hotel Found Called  Ungoofaaru Inn
Hotel Found Called  Hospedaje Costa Bella
Hotel not found... skipping
Hotel Found Called  Ilha Flat Hotel
Hotel Found Called  Habitacion Triple con baño y entrada privada
Hotel not found... skipping
Hotel Found Called  TDC Village (Hundred Man Camp)
Hotel Found Called  VS Villa
Hotel Found Called  Gran Hotel Mar del Plata
Hotel Found Called  OYO 598 Peony Hotel
Hotel Found Called  Raybow International Hotel
Hotel Found Called  Sunrise Attitude Hotel
Hotel Found Called  Erlyn’s Sta Rosa City Home
Hotel Found Called  Hotel Cambri
Hotel Found Called  Annexe Vatsy Hôtel
Hotel Found Called  Bautista Lodging House
Hotel Found Called  Amiin Hotel
Hotel Found Called  janelas do mar
Hotel not found... skipping
Hotel Found Called  Nyibiba Guesthouse
Hotel Found Called  Penginapan Kim
Hotel Found Called  Axim Beach Resort And Spa
Hotel Found Called  Hôtel du Lac Bleu
Hotel Found Called  Maitai Lapita Village Huahine
Hotel Found Called  Hotel Archipelago
Hotel Found Called  บ้านของกลอยใจ
Hotel Found Called  Waigo Splash Hotel
Hotel Found Called  Broadwater Mariner Resort
Hotel Found Called  Center Hotel Punta Alta
Hotel Found Called  Whispering Bamboo Cove Resort
Hotel Found Called  Casa de Campo Resort and Villas
Hotel Found Called  HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel
Hotel Found Called  Rey David
Hotel Found Called  Guest Hotel
Hotel Found Called  Pension Oaoa
Hotel Found Called  Osprey Beach Hotel
Hotel Found Called  La Cimarrona
Hotel Found Called  JABIR HOTEL
Hotel Found Called  TIL Hotels Mtwara
Hotel Found Called  COMBUESA
Hotel Found Called  Sri VishnuYamaha
Hotel Found Called  Agapita M. Nicart
Hotel Found Called  Pondok Wisata Elim
Hotel Found Called  Lamana Hotel (Port Moresby)
Hotel Found Called  Complexo da Familia
Hotel not found... skipping
Hotel Found Called  Casa Tia Villa
Hotel Found Called  Atrás de você
Hotel Found Called  Hôtel Le Lagon
Hotel Found Called  Quinta Samay
Hotel Found Called  Hotel Posada San Jose
Hotel Found Called  Rock Motel Ltd
Hotel Found Called  Lakatoro Palm Lodge
Hotel Found Called  Hotel Nusantara Nabire
Hotel Found Called  International Lodge Motel
Hotel Found Called  Posada Llovizna Rodríguez
Hotel Found Called  Blue Bay Lodge
Hotel Found Called  Swiss-Belhotel Ambon
Hotel Found Called  Groote Eylandt Lodge
Hotel Found Called  Hotel LG PARK
Hotel not found... skipping
Hotel Found Called  Le Monitel
Hotel not found... skipping
Hotel Found Called  OYO 3156 Hotel Warta 2
Hotel Found Called  Hotel California
Hotel Found Called  Tarawa Boutique Hotel
Hotel Found Called  Grand Palladium Jamaica Resort & Spa
Hotel Found Called  Rooms Ocho Rios Hotel
Hotel Found Called  Federal
Hotel Found Called  Country Inn Bed and Breakfast
Hotel Found Called  Storyboard Beach Resort
Hotel Found Called  Casa Dora, Bubaque
Hotel Found Called  Maringe Lagoon Lodge
Hotel Found Called  Hotel Pinheiro
Hotel Found Called  Hotel Arrarte
Hotel Found Called  Puri Brata
Hotel Found Called  Kwepunha Retreat
Hotel Found Called  Hotel Citra
Hotel Found Called  Hotels in Lakshadweep Islands
Hotel Found Called  Le Manotel
Hotel Found Called  Aldea del Bazar Hotel and Spa
Hotel Found Called  Casa Rocha
Hotel not found... skipping
Hotel Found Called  Taba Hotel
Hotel Found Called  Casa Gualberto - Deysi
Hotel Found Called  Sea Lounge! Bar, Club & Restaurant
Hotel Found Called  Panlaitan Cetro Beach
Hotel Found Called  Hotel Regente
Hotel Found Called  Aston Pontianak Hotel & Convention Center
Hotel Found Called  CeBlue Villas & Beach Resort
Hotel Found Called  Yarada Jungle Beach Resorts
Hotel Found Called  Hotel Paternopoli
Hotel Found Called  In Wewak Boutique Hotel
Hotel Found Called  Reng Ta Chai Boutique HomeStay
Hotel Found Called  Pousada Novo Horizonte
Hotel Found Called  Busati Lodge Nanyamba
Hotel Found Called  Radisson Blu Resort & Spa - Alibaug, India
Hotel Found Called  Apart Hotel - Arianos
Hotel Found Called  Guesthouse Samotina
Hotel not found... skipping
Hotel Found Called  Hotel Mpampa
Hotel Found Called  Grand Hotel Libertad - GHL
Hotel Found Called  Les Jardins de La Koutoubia
Hotel Found Called  Villa - Duzer
Hotel Found Called  Hotel Atlântico Rio Grande
Hotel Found Called  Lindsey Hôtel
Hotel Found Called  Niyama Private Islands Maldives
Hotel Found Called  Imagination Island
Hotel Found Called  Hotel Palaaima
Hotel Found Called  Grand Vilia Hotel
Hotel Found Called  Hôtel Salama
Hotel Found Called  Taganak
Hotel Found Called  Hotel Uran Plaza
Hotel not found... skipping
Hotel Found Called  Welcomhotel By ITC Hotels, Bay Island, Port Blair
Hotel Found Called  Island Sun Inn & Suites - Venice, Florida Historic Downtown & Beach Getaway
Hotel Found Called  The Hamsa Resort
Hotel Found Called  Hotel Colonial
Hotel Found Called  Pousada dos Navegantes
Hotel Found Called  Hotel Avon Ruby-Dadar
Hotel Found Called  Bungalows El Palmiche
Hotel Found Called  Swiss Belhotel Sharjah
Hotel Found Called  Hotel Mattos Guimaro
Hotel Found Called  Seagulls Inn Namatani
Hotel Found Called  Vahmoneh Lodge Vanimo
Hotel not found... skipping
Hotel Found Called  La Ode Husein
Hotel Found Called  Villa Luis Montesino y Anabel
Hotel Found Called  Veranda Paul et Virginie Hotel & Spa
Hotel Found Called  Hotel Olako
Hotel Found Called  LIKWALE LODGE
Hotel Found Called  JM Lodge

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Kisangani,CD,82.76,broken clouds,0.5167,25.2000,Grand Ramela Hotel
9,Rikitea,PF,77.77,overcast clouds,-23.1203,-134.9692,People ThankYou
12,Meulaboh,ID,78.60,overcast clouds,4.1363,96.1285,Kost Pria
26,Sao Filipe,CV,75.65,clear sky,14.8961,-24.4956,Hotel Xaguate
27,Saint-Philippe,RE,81.99,moderate rain,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df.count()

City                   180
Country                180
Max Temp               180
Current Description    180
Lat                    180
Lng                    180
Hotel Name             180
dtype: int64

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))